<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Operator Test</title>
</head>
<body>
<h2>Operator Test</h2>
<hr />
<ul>
    <li>100*3 : <span th:text="100*3"></span></li>
    <li>100/3 : <span th:text="100/3"></span></li>
    <li>100%3 : <span th:text="100%3"></span></li>
</ul>
<h2>Comparison Operator Test</h2>
<hr />
<al>
    <li>100 > 33: <span th:text="100 > 33"></span></li>
    <li>100 < 33: <span th:text="100 < 33"></span></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</al>
</body>
</html>